html{
	scroll-behavior: smooth;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
a:hover {
  text-decoration: none;
}


marquee{
	font-size: 18px;
	color: #FFFFFF;
}

